In [2]:
# Load libraries
import pandas as pd
import sklearn_pandas
import numpy as np
from sklearn.tree import DecisionTreeClassifier # Import Decision Tree Classifier
from sklearn.model_selection import train_test_split # Import train_test_split function
from sklearn import metrics #Import scikit-learn metrics module for accuracy calculation
import os # used to create necessary folders
import json
import datetime as dt
import logging
import time
import getpass
import requests
from requests.exceptions import HTTPError
import glob
import sys
from swat import *
import pickle
import zipfile
from math import sqrt
from scipy.stats import kendalltau
from sklearn.base import BaseEstimator, ClassifierMixin
from sklearn.metrics import confusion_matrix                    
from sklearn.metrics import fbeta_score
from scipy.stats import ks_2samp

cas_host = 'sasserver.demo.sas.com'
cas_port= 5570
pd.set_option('display.max_colwidth', -1)
s = CAS(cas_host, cas_port, 'sasdemo', 'Orion123')
s.sessionprop.setsessopt(caslib='Public')


baseurl = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/'

NOTE: 'Public' is now the active caslib.

In [3]:
path = r'/home/sasdemo/COVID_PROJECT/COVID_DATA/' # use your path
all_files = glob.glob(path + "/*.csv")

li = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)

    
frame = pd.concat(li, axis=0, ignore_index=True,sort=False)

In [4]:
table_name='COVID_FILES'
LIB_OUT='PUBLIC'
s.upload_frame(frame, importoptions=None, casout={'name':table_name,'caslib':LIB_OUT,'replace':'yes'})
s.table.save(table=table_name, name=table_name+'.sashdat', replace=True)
s.table.loadTable(path=table_name+'.sashdat',casout={"name":table_name,"caslib":LIB_OUT,'replace':True})

WARNING: The table COVID_FILES exists as a global table in caslib PUBLIC. By adding a session table with the same name, the session-scope table takes precedence over the global-scope table.
NOTE: Cloud Analytic Services made the uploaded file available as table COVID_FILES in caslib PUBLIC.
NOTE: The table COVID_FILES has been created in caslib PUBLIC from binary data uploaded to Cloud Analytic Services.
NOTE: Cloud Analytic Services saved the file COVID_FILES.sashdat in caslib Public.
NOTE: Cloud Analytic Services made the file COVID_FILES.sashdat available as table COVID_FILES in caslib PUBLIC.

[caslib]

 'PUBLIC'

[tableName]

 'COVID_FILES'

[casTable]

 CASTable('COVID_FILES', caslib='PUBLIC')

+ Elapsed: 0.000816s, user: 0.000775s, mem: 0.725mb

In [29]:
s.datastep.runcode('data PUBLIC.COVID_FILES;set PUBLIC.COVID_FILES;DATE_UPDATE=input("Last Update"n,ANYDTDTM19.);Date=datepart(DATE_UPDATE);format DATE_UPDATE datetime. Date Date9.;if "Province/State"n="" then "Province/State"n="Country/Region"n; rename "Province/State"n=Province "Country/Region"n=Country;run;')

[InputCasTables]

    casLib         Name  Rows  Columns  \
 0  Public  COVID_FILES  5890  10

                                    casTable
 0  CASTable('COVID_FILES', caslib='Public')

[OutputCasTables]

    casLib         Name  Rows  Columns  Append Promoted  \
 0  Public  COVID_FILES  5890  10      NaN      N

                                    casTable
 0  CASTable('COVID_FILES', caslib='Public')

+ Elapsed: 0.0453s, user: 0.181s, sys: 0.0131s, mem: 8.17mb

In [38]:
s.builtins.loadActionSet("fedSql")    
s.fedSql.execDirect(                                                              #4
    query='''create table COVID_ALL{options replace=true} as select distinct Province,Country,Date,max(deaths) as Deaths,max(Recovered) as Recovered, max(Confirmed) as Confirmed from COVID_FILES group by Country,Province,Date '''
 )

s.fedSql.execDirect(                                                              #4
    query='''create table COVID_GEO{options replace=true} as select distinct Province,Country,avg(Latitude) as lat,avg(Longitude) as long from COVID_FILES  where longitude is not null group by Country,Province'''
 )


s.fedSql.execDirect(                                                              #4
    query='''create table COVID_FINAL{options replace=true} as 
    select distinct t1.Province,t1.Country,t1.Date,t2.lat,t2.long,t1.Deaths,t1.Recovered,t1.Confirmed 
    from COVID_ALL t1 left join COVID_GEO t2 on t1.Country=t2.Country and t1.Province=t2.Province'''
 )

NOTE: Added action set 'fedSql'.
NOTE: CASDAL driver. Creation of a DATE column has been requested, but is not supported by the CASDAL driver. A DOUBLE PRECISION column will be created instead. A DATE format will be associated with the column.
NOTE: CASDAL driver. Creation of a DATE column has been requested, but is not supported by the CASDAL driver. A DOUBLE PRECISION column will be created instead. A DATE format will be associated with the column.
NOTE: Table COVID_ALL was created in caslib Public with 3556 rows returned.
NOTE: Table COVID_GEO was created in caslib Public with 454 rows returned.
NOTE: CASDAL driver. Creation of a DATE column has been requested, but is not supported by the CASDAL driver. A DOUBLE PRECISION column will be created instead. A DATE format will be associated with the column.
NOTE: CASDAL driver. Creation of a DATE column has been requested, but is not supported by the CASDAL driver. A DOUBLE PRECISION column will be created instead. A DATE format will be associated with the column.
NOTE: Table COVID_FINAL was created in caslib Public with 3556 rows returned.

+ Elapsed: 0.0692s, user: 0.11s, sys: 0.05s, mem: 40.7mb

In [40]:
table_name='COVID_FINAL'
LIB_OUT='PUBLIC'
s.table.save(table=table_name, name=table_name+'.sashdat', replace=True)
s.table.loadTable(path=table_name+'.sashdat',casout={"name":table_name,"caslib":LIB_OUT,'replace':True})

NOTE: Cloud Analytic Services saved the file COVID_FINAL.sashdat in caslib Public.
NOTE: Cloud Analytic Services made the file COVID_FINAL.sashdat available as table COVID_FINAL in caslib PUBLIC.

[caslib]

 'PUBLIC'

[tableName]

 'COVID_FINAL'

[casTable]

 CASTable('COVID_FINAL', caslib='PUBLIC')

+ Elapsed: 0.000639s, sys: 0.000604s, mem: 0.713mb

In [46]:

s.fedSql.execDirect(                                                              #4
    query='''
    select distinct t1.Province,t1.DATE_UPDATE,t1.Country,t1.Date,t1.Deaths,t1.Recovered,t1.Confirmed 
    from COVID_FILES t1 where t1.Country='Italy' order by date'''
 )

,Province,DATE_UPDATE,Country,Date,Deaths,Recovered,Confirmed
0,Italy,2020-01-31 08:15:00,Italy,2020-01-31,0.0,0.0,2.0
1,Italy,2020-01-31 08:15:53,Italy,2020-01-31,0.0,0.0,2.0
2,Italy,2020-01-31 23:59:00,Italy,2020-01-31,NaN,NaN,2.0
3,Italy,2020-02-07 17:53:02,Italy,2020-02-07,0.0,0.0,3.0
4,Italy,2020-02-21 23:33:06,Italy,2020-02-21,1.0,0.0,20.0
5,Italy,2020-02-22 23:43:02,Italy,2020-02-22,2.0,1.0,62.0
6,Italy,2020-02-23 23:43:02,Italy,2020-02-23,3.0,2.0,155.0
7,Italy,2020-02-24 23:43:01,Italy,2020-02-24,7.0,1.0,229.0
8,Italy,2020-02-25 18:55:32,Italy,2020-02-25,10.0,1.0,322.0
9,Italy,2020-02-26 23:43:03,Italy,2020-02-26,12.0,3.0,453.0
10,Italy,2020-02-27 23:23:02,Italy,2020-02-27,17.0,45.0,655.0
11,Italy,2020-02-28 20:13:09,Italy,2020-02-28,21.0,46.0,888.0
12,Italy,2020-02-29 18:03:05,Italy,2020-02-29,29.0,46.0,1128.0
13,Italy,2020-03-01 23:23:02,Italy,2020-03-01,34.0,83.0,1694.0
14,Italy,2020-03-02 20:23:16,Italy,2020-03-02,52.0,149.0,2036.0
15,Italy,2020-03-03 20:03:06,Italy,2020-03-03,79.0,160.0,2502.0
16,Italy,2020-03-04 19:23:03,Italy,2020-03-04,107.0,276.0,3089.0
17,Italy,2020-03-05 17:43:03,Italy,2020-03-05,148.0,414.0,3858.0
18,Italy,2020-03-06 17:33:03,Italy,2020-03-06,197.0,523.0,4636.0
19,Italy,2020-03-07 17:33:03,Italy,2020-03-07,233.0,589.0,5883.0
20,Italy,2020-03-08 18:03:04,Italy,2020-03-08,366.0,622.0,7375.0
21,Italy,2020-03-09 18:13:11,Italy,2020-03-09,463.0,724.0,9172.0
22,Italy,2020-03-10 17:53:02,Italy,2020-03-10,631.0,724.0,10149.0
23,Italy,2020-03-11 20:00:00,Italy,2020-03-11,1266.0,1439.0,17660.0
24,Italy,2020-03-11 21:33:02,Italy,2020-03-11,827.0,1045.0,12462.0
25,Italy,2020-03-14 20:13:16,Italy,2020-03-14,1441.0,1966.0,21157.0
26,Italy,2020-03-14 20:13:16,Italy,2020-03-14,1809.0,2335.0,24747.0

In [5]:
csv_name='03-12-2020'
filename='/home/sasdemo/COVID_PROJECT/COVID_DATA/'+csv_name+'.csv'
table=pd.read_csv(filename)
table

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
0,Hubei,China,2020-03-12T09:53:06,67781,3056,50318,30.9756,112.2707
1,NaN,Italy,2020-03-11T21:33:02,12462,827,1045,43.0000,12.0000
2,NaN,Iran,2020-03-12T11:13:27,10075,429,2959,32.0000,53.0000
3,NaN,"Korea, South",2020-03-12T05:13:02,7869,66,333,36.0000,128.0000
4,France,France,2020-03-11T22:53:03,2281,48,12,46.2276,2.2137
5,NaN,Spain,2020-03-12T01:17:58,2277,55,183,40.0000,-4.0000
6,NaN,Germany,2020-03-12T09:53:06,2078,3,25,51.0000,9.0000
7,Guangdong,China,2020-03-12T03:53:02,1356,8,1289,23.3417,113.4244
8,Henan,China,2020-03-11T08:13:09,1273,22,1249,33.8820,113.6140
9,Zhejiang,China,2020-03-12T01:33:02,1215,1,1197,29.1832,120.0934
10,Hunan,China,2020-03-12T09:53:06,1018,4,999,27.6104,111.7088
11,Anhui,China,2020-03-11T02:18:14,990,6,984,31.8257,117.2264
12,Jiangxi,China,2020-03-12T02:13:04,935,1,934,27.6140,115.7221
13,Shandong,China,2020-03-12T07:53:02,760,6,734,36.3427,118.1498
14,NaN,Norway,2020-03-12T13:13:31,702,0,1,60.4720,8.4689
15,Diamond Princess,Cruise Ship,2020-03-11T22:13:12,696,7,325,35.4437,139.6380
16,NaN,Switzerland,2020-03-11T20:53:02,652,4,4,46.8182,8.2275
17,NaN,Japan,2020-03-12T05:13:02,639,16,118,36.0000,138.0000
18,Jiangsu,China,2020-03-12T05:13:02,631,0,629,32.9711,119.4550
19,Denmark,Denmark,2020-03-12T09:53:06,615,0,1,56.2639,9.5018
20,NaN,Sweden,2020-03-12T21:39:09,599,1,1,63.0000,16.0000
21,Chongqing,China,2020-03-12T23:44:32,576,6,564,30.0572,107.8740
22,Sichuan,China,2020-03-12T12:13:07,539,3,498,30.6171,102.7103
23,NaN,Netherlands,2020-03-11T14:13:11,503,5,0,52.1326,5.2913
24,Heilongjiang,China,2020-03-12T13:13:31,482,13,441,47.8620,127.7615
25,UK,United Kingdom,2020-03-11T21:33:03,456,8,18,55.3781,-3.4360
26,Washington,US,2020-03-12T23:44:33,442,31,1,47.4009,-121.4905
27,Beijing,China,2020-03-12T01:13:05,435,8,334,40.1824,116.4142
28,Shanghai,China,2020-03-12T07:53:02,344,3,321,31.2020,121.4491
29,New York,US,2020-03-12T21:39:10,328,0,0,42.1657,-74.9481
...,...,...,...,...,...,...,...,...
188,Tibet,China,2020-03-11T02:18:14,1,0,1,31.6927,88.0924
189,NaN,Congo (Kinshasa),2020-03-11T21:13:24,1,0,0,-4.0383,21.7587
190,NaN,Cote d'Ivoire,2020-03-12T01:18:01,1,0,0,7.5400,-5.5471
191,Saint Barthelemy,France,2020-03-11T20:53:02,1,0,0,17.9000,-62.8333
192,NaN,Guyana,2020-03-12T05:53:03,1,1,0,5.0000,-58.7500
193,NaN,Holy See,2020-03-10T19:13:21,1,0,0,41.9029,12.4534
194,NaN,Jordan,2020-03-03T15:33:02,1,0,0,31.2400,36.5100
195,NaN,Liechtenstein,2020-03-04T01:33:07,1,0,0,47.1400,9.5500
196,NaN,Mongolia,2020-03-10T06:13:43,1,0,0,46.8625,103.8467
197,NaN,Nepal,2020-03-10T08:33:03,1,0,1,28.3949,84.1240
198,NaN,Reunion,2020-03-11T23:13:07,1,0,0,-21.1151,55.5364
199,NaN,Togo,2020-03-07T02:13:09,1,0,0,8.6195,0.8248
200,NaN,Turkey,2020-03-11T03:33:05,1,0,0,38.9637,35.2433
201,Delaware,US,2020-03-11T23:13:06,1,0,0,39.3185,-75.5071
202,Kansas,US,2020-03-10T03:13:17,1,0,0,38.5266,-96.7265
203,Mississippi,US,2020-03-12T09:33:03,1,0,0,32.7416,-89.6787
204,Missouri,US,2020-03-10T03:13:17,1,0,0,38.4561,-92.2884
205,Montana,US,2020-03-11T23:13:06,1,0,0,46.9219,-110.4544
206,North Dakota,US,2020-03-12T09:33:03,1,0,0,47.5289,-99.7840
207,Wyoming,US,2020-03-12T03:13:09,1,0,0,42.7560,-107.3025
208,NaN,Ukraine,2020-03-03T15:33:02,1,0,0,48.3794,31.1656
209,Gibraltar,United Kingdom,2020-03-11T20:53:02,1,0,1,36.1408,-5.3536
210,From Diamond Princess,Australia,2020-02-29T02:03:10,0,0,0,35.4437,139.6380
211,Gansu,Mainland China,2020-03-11T02:18:28,0,0,0,36.0611,103.8343
212,Hebei,Mainland China,2020-03-11T02:18:29,0,0,0,38.0428,114.5149
213,Alaska,US,2020-03-10T02:33:04,0,0,0,61.3707,-152.4044
214,Idaho,US,2020-03-10T02:33:04,0,0,0,44.2405,-114.4788
215,Maine,US,2020-03-10T02:33:04,0,0,0,44.6939,-69.3819
216,West Virginia,US,2020-03-10T02:33:04,0,0,0,38.4912,-80.9545
217,NaN,occupied Palestinian territory,2020-03-11T20:53:02,0,0,0,31.9522,35.2332

In [30]:
csv_name='03-12-2020'
filename='/home/sasdemo/COVID_PROJECT/COVID_DATA/'+csv_name+'.csv'
table=pd.read_csv(filename)
table[table['Country/Region']=='France']

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
4,France,France,2020-03-11T22:53:03,2281,48,12,46.2276,2.2137
173,St Martin,France,2020-03-11T20:53:02,2,0,0,18.0708,-63.0501
191,Saint Barthelemy,France,2020-03-11T20:53:02,1,0,0,17.9000,-62.8333

In [27]:
table[table['Last Update'].str.contains('2020-03-13')]

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
0,Hubei,China,2020-03-13T11:09:03,67786,3062,51553,30.9756,112.2707
1,Guangdong,China,2020-03-13T11:09:03,1356,8,1296,23.3417,113.4244
4,Hunan,China,2020-03-13T11:09:03,1018,4,1005,27.6104,111.7088
7,Shandong,China,2020-03-13T11:09:03,760,7,739,36.3427,118.1498
8,Jiangsu,China,2020-03-13T11:09:03,631,0,630,32.9711,119.4550
9,Chongqing,China,2020-03-13T23:13:12,576,6,566,30.0572,107.8740
10,Sichuan,China,2020-03-13T11:09:03,539,3,503,30.6171,102.7103
11,Heilongjiang,China,2020-03-13T11:09:03,482,13,446,47.8620,127.7615
12,Beijing,China,2020-03-13T11:09:03,436,8,342,40.1824,116.4142
13,Shanghai,China,2020-03-13T11:09:03,346,3,324,31.2020,121.4491
14,Hebei,China,2020-03-13T11:09:03,318,6,310,38.0428,114.5149
16,Guangxi,China,2020-03-13T11:09:03,252,2,243,23.8298,108.7881
20,Guizhou,China,2020-03-13T11:09:03,146,2,140,26.8154,106.8748
22,Hong Kong,China,2020-03-13T13:33:03,134,4,77,22.3000,114.2000
23,Shanxi,China,2020-03-13T11:09:03,133,0,133,37.5777,112.2922
24,Gansu,China,2020-03-13T11:09:03,127,2,88,36.0611,103.8343
29,Jilin,China,2020-03-13T11:09:03,93,1,91,43.6661,126.1923

In [23]:
frame_s=frame.sort_values(by=['Country/Region','Last Update'])
frame_s[frame_s['Country/Region']=='France']

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
124,NaN,France,1/24/20 17:00,2.0,NaN,NaN,NaN,NaN
165,NaN,France,1/25/20 17:00,3.0,NaN,NaN,NaN,NaN
211,NaN,France,1/26/20 16:00,3.0,NaN,NaN,NaN,NaN
258,NaN,France,1/27/20 23:59,3.0,NaN,NaN,NaN,NaN
309,NaN,France,1/28/20 23:00,4.0,NaN,NaN,NaN,NaN
361,NaN,France,1/29/20 19:30,5.0,NaN,NaN,NaN,NaN
416,NaN,France,1/30/20 16:00,5.0,NaN,NaN,NaN,NaN
470,NaN,France,1/31/2020 23:59,5.0,NaN,NaN,NaN,NaN
532,NaN,France,2/1/2020 1:52,6.0,0.0,0.0,NaN,NaN
599,NaN,France,2020-02-01T01:52:40,6.0,0.0,0.0,NaN,NaN
667,NaN,France,2020-02-01T01:52:40,6.0,0.0,0.0,NaN,NaN
735,NaN,France,2020-02-01T01:52:40,6.0,0.0,0.0,NaN,NaN
805,NaN,France,2020-02-01T01:52:40,6.0,0.0,0.0,NaN,NaN
876,NaN,France,2020-02-01T01:52:40,6.0,0.0,0.0,NaN,NaN
948,NaN,France,2020-02-01T01:52:40,6.0,0.0,0.0,NaN,NaN
1019,NaN,France,2020-02-08T09:53:01,11.0,0.0,0.0,NaN,NaN
1091,NaN,France,2020-02-08T09:53:01,11.0,0.0,0.0,NaN,NaN
1163,NaN,France,2020-02-08T09:53:01,11.0,0.0,0.0,NaN,NaN
1235,NaN,France,2020-02-08T09:53:01,11.0,0.0,0.0,NaN,NaN
1308,NaN,France,2020-02-12T18:53:02,11.0,0.0,2.0,NaN,NaN
1381,NaN,France,2020-02-12T18:53:02,11.0,0.0,2.0,NaN,NaN
1455,NaN,France,2020-02-12T18:53:02,11.0,0.0,2.0,NaN,NaN
1530,NaN,France,2020-02-15T20:53:02,12.0,1.0,4.0,NaN,NaN
1605,NaN,France,2020-02-15T20:53:02,12.0,1.0,4.0,NaN,NaN
1680,NaN,France,2020-02-15T20:53:02,12.0,1.0,4.0,NaN,NaN
1755,NaN,France,2020-02-15T20:53:02,12.0,1.0,4.0,NaN,NaN
1830,NaN,France,2020-02-15T20:53:02,12.0,1.0,4.0,NaN,NaN
1906,NaN,France,2020-02-15T20:53:02,12.0,1.0,4.0,NaN,NaN
1984,NaN,France,2020-02-15T20:53:02,12.0,1.0,4.0,NaN,NaN
2069,NaN,France,2020-02-15T20:53:02,12.0,1.0,4.0,NaN,NaN
...,...,...,...,...,...,...,...,...
2966,NaN,France,2020-03-02T20:33:02,191.0,3.0,12.0,47.0000,2.0000
3107,NaN,France,2020-03-03T15:23:03,204.0,4.0,12.0,47.0000,2.0000
3256,NaN,France,2020-03-04T20:43:02,285.0,4.0,12.0,47.0000,2.0000
3413,NaN,France,2020-03-05T15:13:22,377.0,6.0,12.0,47.0000,2.0000
3581,NaN,France,2020-03-06T20:13:13,653.0,9.0,12.0,47.0000,2.0000
3776,NaN,France,2020-03-07T20:33:02,949.0,11.0,12.0,47.0000,2.0000
3999,NaN,France,2020-03-08T18:03:04,1126.0,19.0,12.0,47.0000,2.0000
4254,NaN,France,2020-03-09T00:43:03,1209.0,19.0,12.0,47.0000,2.0000
4517,NaN,France,2020-03-10T18:53:02,1784.0,33.0,12.0,47.0000,2.0000
5232,France,France,2020-03-11T20:00:00,3661.0,79.0,12.0,46.2276,2.2137
5252,French Polynesia,France,2020-03-11T20:00:00,3.0,0.0,0.0,-17.6797,149.4068
5285,Saint Barthelemy,France,2020-03-11T20:00:00,1.0,0.0,0.0,17.9000,-62.8333
5286,St Martin,France,2020-03-11T20:00:00,2.0,0.0,0.0,18.0708,-63.0501
4889,St Martin,France,2020-03-11T20:53:02,2.0,0.0,0.0,18.0708,-63.0501
4905,Saint Barthelemy,France,2020-03-11T20:53:02,1.0,0.0,0.0,17.9000,-62.8333
5108,St Martin,France,2020-03-11T20:53:02,2.0,0.0,0.0,18.0708,-63.0501
5126,Saint Barthelemy,France,2020-03-11T20:53:02,1.0,0.0,0.0,17.9000,-62.8333
4723,France,France,2020-03-11T22:53:03,2281.0,48.0,12.0,46.2276,2.2137
4939,France,France,2020-03-11T22:53:03,2281.0,48.0,12.0,46.2276,2.2137
5583,St Martin,France,2020-03-14T16:33:03,2.0,0.0,0.0,18.0708,-63.0501
5607,Saint Barthelemy,France,2020-03-14T16:33:03,1.0,0.0,0.0,17.9000,-62.8333
5840,St Martin,France,2020-03-14T16:33:03,2.0,0.0,0.0,18.0708,-63.0501
5865,Saint Barthelemy,France,2020-03-14T16:33:03,1.0,0.0,0.0,17.9000,-62.8333
5560,Fench Guiana,France,2020-03-14T16:53:03,5.0,0.0,0.0,4.0000,-53.0000
5573,French Polynesia,France,2020-03-14T16:53:03,3.0,0.0,0.0,-17.6797,149.4068
5389,France,France,2020-03-14T20:13:16,4469.0,91.0,12.0,46.2276,2.2137
5864,Mayotte,France,2020-03-14T20:53:03,1.0,0.0,0.0,-12.8275,45.1662
5817,French Guiana,France,2020-03-15T06:53:03,7.0,0.0,0.0,3.9339,-53.1258
5638,France,France,2020-03-15T18:20:18,4499.0,91.0,12.0,46.2276,2.2137
5827,French Polynesia,France,2020-03-15T18:20:19,3.0,0.0,0.0,-17.6797,-149.4068

In [14]:
path = r'/home/sasdemo/COVID_PROJECT/COVID_DATA/' # use your path
all_files = glob.glob(path + "/*.csv")

li = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)

    
frame = pd.concat(li, axis=0, ignore_index=True,sort=False)

In [12]:
all_f=['/home/sasdemo/COVID_PROJECT/COVID_DATA/03-11-2020.csv',
 '/home/sasdemo/COVID_PROJECT/COVID_DATA/03-12-2020.csv',
 '/home/sasdemo/COVID_PROJECT/COVID_DATA/03-13-2020.csv',
 '/home/sasdemo/COVID_PROJECT/COVID_DATA/03-14-2020.csv',
 '/home/sasdemo/COVID_PROJECT/COVID_DATA/03-15-2020.csv']

In [13]:
li = []

for filename in all_f:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)

    
frame = pd.concat(li, axis=0, ignore_index=True,sort=False)
frame

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
0,Hubei,China,2020-03-11T10:53:02,67773,3046,49134,30.9756,112.2707
1,NaN,Italy,2020-03-11T21:33:02,12462,827,1045,43.0000,12.0000
2,NaN,Iran,2020-03-11T18:52:03,9000,354,2959,32.0000,53.0000
3,NaN,"Korea, South",2020-03-11T21:13:18,7755,60,288,36.0000,128.0000
4,France,France,2020-03-11T22:53:03,2281,48,12,46.2276,2.2137
5,NaN,Spain,2020-03-11T20:53:02,2277,54,183,40.0000,-4.0000
6,NaN,Germany,2020-03-11T19:13:17,1908,3,25,51.0000,9.0000
7,Guangdong,China,2020-03-11T10:13:06,1356,8,1282,23.3417,113.4244
8,Henan,China,2020-03-11T08:13:09,1273,22,1249,33.8820,113.6140
9,Zhejiang,China,2020-03-11T09:33:12,1215,1,1195,29.1832,120.0934
10,Hunan,China,2020-03-11T02:18:14,1018,4,995,27.6104,111.7088
11,Anhui,China,2020-03-11T02:18:14,990,6,984,31.8257,117.2264
12,Jiangxi,China,2020-03-11T02:18:14,935,1,932,27.6140,115.7221
13,Shandong,China,2020-03-11T11:33:07,760,6,726,36.3427,118.1498
14,Diamond Princess,Cruise Ship,2020-03-11T22:13:12,696,7,325,35.4437,139.6380
15,NaN,Switzerland,2020-03-11T20:53:02,652,4,4,46.8182,8.2275
16,NaN,Japan,2020-03-11T21:33:03,639,15,118,36.0000,138.0000
17,Jiangsu,China,2020-03-11T02:18:14,631,0,627,32.9711,119.4550
18,NaN,Norway,2020-03-11T19:33:02,598,0,1,60.4720,8.4689
19,Chongqing,China,2020-03-11T23:13:05,576,6,554,30.0572,107.8740
20,Sichuan,China,2020-03-11T14:33:03,539,3,488,30.6171,102.7103
21,NaN,Netherlands,2020-03-11T14:13:11,503,5,0,52.1326,5.2913
22,NaN,Sweden,2020-03-11T19:33:02,500,1,1,63.0000,16.0000
23,Heilongjiang,China,2020-03-11T11:33:07,482,13,436,47.8620,127.7615
24,UK,United Kingdom,2020-03-11T21:33:03,456,8,18,55.3781,-3.4360
25,Denmark,Denmark,2020-03-11T22:13:13,442,0,1,56.2639,9.5018
26,Beijing,China,2020-03-11T02:18:14,435,8,326,40.1824,116.4142
27,Washington,US,2020-03-11T22:33:03,366,29,1,47.4009,-121.4905
28,Shanghai,China,2020-03-11T03:13:07,344,3,320,31.2020,121.4491
29,Hebei,China,2020-03-11T02:18:14,318,6,307,39.5490,116.1306
...,...,...,...,...,...,...,...,...
1141,NaN,Curacao,2020-03-14T16:15:18,1,0,0,12.1696,-68.9900
1142,NaN,Equatorial Guinea,2020-03-15T06:41:54,1,0,0,1.5000,10.0000
1143,NaN,Eswatini,2020-03-15T06:41:54,1,0,0,-26.5225,31.4659
1144,NaN,Ethiopia,2020-03-13T23:33:06,1,0,0,9.1450,40.4897
1145,Mayotte,France,2020-03-14T20:53:03,1,0,0,-12.8275,45.1662
1146,Saint Barthelemy,France,2020-03-14T16:33:03,1,0,0,17.9000,-62.8333
1147,NaN,Gabon,2020-03-14T13:33:04,1,0,0,-0.8037,11.6094
1148,NaN,Guadeloupe,2020-03-13T12:33:03,3,0,0,16.2650,-61.5510
1149,NaN,Guatemala,2020-03-14T01:33:03,1,0,0,15.7835,-90.2308
1150,NaN,Guernsey,2020-03-13T22:22:03,1,0,0,49.4500,-2.5800
1151,NaN,Guinea,2020-03-15T06:41:54,1,0,0,9.9456,-9.6966
1152,NaN,Holy See,2020-03-13T22:22:02,1,0,0,41.9029,12.4534
1153,NaN,Kenya,2020-03-13T22:22:03,3,0,0,-0.0236,37.9062
1154,NaN,Mauritania,2020-03-15T18:20:19,1,0,0,21.0079,-10.9408
1155,NaN,Mongolia,2020-03-13T22:22:02,1,0,0,46.8625,103.8467
1156,NaN,Nepal,2020-03-13T22:22:03,1,0,1,28.3949,84.1240
1157,NaN,Rwanda,2020-03-15T06:41:54,1,0,0,-1.9403,29.8739
1158,NaN,Saint Lucia,2020-03-14T16:15:18,2,0,0,13.9094,-60.9789
1159,NaN,Saint Vincent and the Grenadines,2020-03-14T16:33:03,1,0,0,12.9843,-61.2872
1160,NaN,Sudan,2020-03-14T01:13:32,1,1,0,12.8628,30.2176
1161,NaN,Suriname,2020-03-14T16:33:03,1,0,0,3.9193,-56.0278
1162,NaN,Togo,2020-03-13T22:22:02,1,0,0,8.6195,0.8248
1163,Alaska,US,2020-03-13T14:53:03,1,0,0,61.3707,-152.4044
1164,North Dakota,US,2020-03-12T09:33:03,1,0,0,47.5289,-99.7840
1165,"Virgin Islands, U.S.",US,2020-03-14T16:15:18,1,0,0,18.3358,-64.8963
1166,Gibraltar,United Kingdom,2020-03-14T16:33:03,1,0,1,36.1408,-5.3536
1167,NaN,Uzbekistan,2020-03-15T18:20:19,1,0,0,41.3775,64.5853
1168,From Diamond Princess,Australia,2020-03-14T02:33:04,0,0,0,35.4437,139.6380
1169,West Virginia,US,2020-03-10T02:33:04,0,0,0,38.4912,-80.9545
1170,NaN,occupied Palestinian territory,2020-03-11T20:53:02,0,0,0,31.9522,35.2332